# Core Streamlit setup
streamlit==1.44.0
streamlit-extras>=0.3.2
streamlit-option-menu
streamlit-calendar
st-pages

# MySQL connector
mysql-connector-python

# Chatbot + OpenAI
openai
tiktoken

# Styling & Logs
rich==13.3.5

# Email (optional, used in your secrets)
secure-smtplib

chatbot_component
